/* General Styles */
body {
  margin: 0;
  padding: 0;
  background-color: #ffbc0a;
  font-family: "Patrick Hand", "Comic Sans", cursive;
  color: #333;
}

html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Headings */
h1 {
  font-family: "Caveat Brush", cursive;
  margin-top: 0;
  color: #08508b;
}

h2 {
  font-family: "Caveat Brush", cursive;
  margin-top: 0;
  color: #ebc476;
}

p {
  font-size: larger;
  padding: 10px;
  background-color: #f5f5f5;
  border: 3px dashed #ffbc0a;
  margin: 10px 0;
  border-radius: 10px;
}

.main-content h2 {
  color: #c42847;
}

/* Hero Section */
.hero {
  height: 40vh;
  background: repeating-linear-gradient(
    #ffbc0a,
    #ffbc0a 80px,
    #b58500 80px,
    #b58500 82px
  );
  position: relative;
  border-bottom: 5px solid #271033;
}

.pencilElements {
  display: flex;
  height: 45vh;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding-left: 100px;
}

.pencilElements .pencilLabel h1 {
  color: #ecdada;
  background-color: #000;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 25% 25% 25% 25% / 50% 50% 50% 50%;
  font-size: xxx-large;
}

/* Media Queries for Hero and Pencil Label Responsive Design */
@media (max-width: 768px) {
  .hero {
    height: auto;
    padding: 20px;
    border-bottom: 3px solid #271033;
  }

  .pencilElements {
    flex-direction: column;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  .pencilElements .pencilLabel h1 {
    padding: 20px;
    font-size: large;
    border-radius: 50%;
  }
}

.pencilElements .pencilWood {
  height: 50vh;
  position: absolute;
  aspect-ratio: cos(30deg);
  clip-path: polygon(0 0, 100% 50%, 0 100%);
  background-color: #ebc476;
  z-index: 1;
}

.pencilElements .pencilPoint {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid #333;
  align-self: center;
  transform: rotate(-90deg);
  position: absolute;
  z-index: 2;
}

/* Container */
.container {
  display: flex;
  flex-direction: row;
  flex: 1;
}

/* Navigation Column */
.nav {
  width: 20%;
  background-color: #c42847;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  border-right: 5px dashed #271033;
  font-size: larger;
}

/* Navigation Links */
.nav ul {
  list-style-type: none;
  padding: 0;
}

.nav ul li {
  margin: 15px 0;
  position: relative;
}

.nav ul li a {
  text-decoration: none;
  color: #ebc476;
  font-weight: bold;
  position: relative;
  z-index: 1;
  padding: 5px;
  overflow: hidden;
}

.nav ul li a::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  background-color: #271033;
  z-index: -1;
  transition: width 0.3s ease;
}

.nav ul li a:hover::before {
  width: 100%;
}

.nav ul li a:hover {
  color: #fff;
}

/* Main Content Column */
.main-content {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 20px;
  background-color: #fff;
  border-left: 5px dashed #271033;
  border-right: 5px dashed #271033;
  overflow-y: auto;
  background: linear-gradient(#fff 40px, #f0f0f0 40px, #f0f0f0 41px);
  background-size: 100% 41px;
}
.main-content,
#About_us {
  align-items: center;
}

.Home-img {
  width: 300px;
  height: 300px;
  margin: 10px;
  float: left;
  object-fit: cover;
}
.Home-img.right {
  float: right;
}
#Scrappy {
  object-position: 0% 90%;
}
#Torin_Hat {
  object-fit: cover;
  object-position: 50% 70%;
  shape-outside: circle(50%);
  clip-path: circle(50%);
}

/* Media Queries for Main Content Responsive Design */
@media (max-width: 768px) {
  .main-content {
    width: 100%;
    padding: 10px;
    border-left: none;
    border-right: none;
    background-size: 100% 31px;
  }

  .main-content p {
    font-size: medium;
  }
}

#fetch-button {
  background-color: #c42847;
  color: #fff;
  border: none;
  padding: 15px 30px;
  font-size: 1em;
  font-family: "Comic Sans Ms", "comic sans", cursive;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
  margin-bottom: 30px;
}

#fetch-button:active {
  transform: translateY(4px);
  box-shadow: 0 5px #666;
}

#fetch-button:hover {
  background-color: #a22039;
}

/* Media Queries for Fetch Button Responsive Design */
@media (max-width: 768px) {
  #fetch-button {
    width: 100%;
    padding: 10px 0;
    font-size: 1.2em;
  }
}
/* Extra Content Column */
.extra-content {
  display: flex;
  flex-direction: column;
  width: 20%;
  background-color: #227c9d;
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  border-left: 5px dashed #271033;
  overflow-y: auto;
  text-align: center;
}

#recent-words {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  font-family: "Patrick Hand", cursive;
  font-size: large;
}

#recent-words span {
  cursor: pointer;
  margin-bottom: 10px;
  color: #ebc476;
}

#recent-words span:hover {
  text-decoration: underline;
}

#click-counter {
  margin-top: 20px;
  font-family: "Comic Sans Ms", "comic sans", cursive;
  color: #08508b;
  background-color: #ebc476;
  text-align: center;
  border-radius: 100%;
  padding: 5%;
}

/* Media Queries for Extra Content Responsive Design */
@media (max-width: 768px) {
  .extra-content {
    width: 100%;
    order: 2;
    padding: 10px;
  }

  #recent-words {
    margin-top: 10px;
  }

  #click-counter {
    margin-top: 15px;
  }
}

/* Container */
.container::before,
.container::after {
  content: "";
  display: block;
  height: 10px;
  background: repeating-linear-gradient(
    45deg,
    #ffbc0a,
    #ffbc0a 10px,
    #c42847 10px,
    #c42847 20px
  );
  margin: 10px 0;
}

/* Footer Styles */
footer {
  background-image: url(assets\images\pexels-artempodrez-7233099.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  border-top: 5px solid #271033;
  width: 100%;
  margin-top: auto;
  padding: 20px;
}

.footer_links ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer_links li {
  margin: 10px;
}

.footer_links a {
  text-align: center;
  color: #f9f7f3;
  text-decoration: none;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_links a img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  vertical-align: middle;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .footer_links ul {
    flex-direction: column;
  }

  .footer_links li {
    width: 100%;
    text-align: center;
    margin: 10px 0;
  }

  .footer_links a {
    justify-content: center;
  }
}

.patrick-hand-regular {
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-style: normal;
}

.caveat-brush-regular {
  font-family: "Caveat Brush", serif;
  font-weight: 400;
  font-style: normal;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .nav {
    width: 100%;
    order: -1;
  }

  .main-content {
    width: 100%;
    border-left: none;
    border-right: none;
  }

  .extra-content {
    width: 100%;
    order: 1;
  }
}
